*.env
*.xlsx
drafts
IKON
*.node_modules
# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.pyc
# Build output
dist/
build/

# OS / Editor junk
.DS_Store
*.swp

# Authelia config: ignore real config files
api/authelia/config/configuration.yml
api/authelia/config/users_database.yml

# Authelia local database and notification logs
api/authelia/config/db.sqlite3
api/authelia/config/notification.txt
api/services/test_optim.py
api/services/test_optim_exports/


# EMQX Config
*.hocon

